<section class="module-option">
    <a routerLink="{{moduleCard.routerLink}}">
        <mat-card class="options-card">
            <mat-card-header>
                <mat-icon mat-card-avatar>{{moduleCard.avatar}}</mat-icon>
                <mat-card-title>{{moduleCard.title}}</mat-card-title>
                <mat-card-subtitle>{{moduleCard.subtitle}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                {{moduleCard.content}}
            </mat-card-content>
        </mat-card>
    </a>
</section>